/* movie-search.component.css */
.search-component {
  font-family: 'Lunasima';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.dropdown {
  position: absolute;
  top: 30%;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
}

.search-result {
  padding: 0;
  margin: 0;
}

.search-result li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-result li:last-child {
  border-bottom: none;
}
