.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: linear-gradient(45deg, #EEE7DF, #DBCBBE);
}

h2{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Bitter';
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 15px;
}

input{
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px;
    background-color: #0A3D64;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}