<!-- <h2>my current favorite movies</h2>
<div class="grid-container">
    <ng-container *ngFor="let movie of currentFaveMovies">
      <app-movie-card [movie]="movie">
      </app-movie-card>
    </ng-container>
</div> -->


<div *ngIf="!nameSubmitted; else welcomeMessage">
  <h2>welcome to begoboxd!</h2>
  <h3>please enter your name:</h3>
  <input class="center" type="text" [(ngModel)]="userName" />
  <br>
  <button class="center" (click)="submitName()">submit</button>
</div>

<ng-template #welcomeMessage>
  <h2>welcome to begoboxd, {{ userName }}!</h2>
</ng-template>
